<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/stylesheets/projectDetail.css">
</head>
<body>
    
    <%- include('partials/header') %>

    <div class="body">
        <div class="project">
            <div class="image">
                <img src="/images/CocaCola.jpg">
            </div>
            <div class="description">
                <h1>Coca-Cola</h1>
                <h4>Tienda de Bebidas</h4>
                <h5>Somos un grupo de amigos, los cuales queremos empezar un nuevo emprendimiento. Queremos fundar una empresa de venta de bebidas sin alcohol.</h5>
                <p>Dinero a recaudar: $500.000</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                    Progreso
                    </div>
                </div>
                <div class="buttons">
                    <button type="button" class="edit btn btn-secondary btn-lg btn-block">Editar</button>
                    <div class="space"></div>
                    <button type="button" class="contribute btn btn-primary btn-lg btn-block">Quiero Aportar</button>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

</html>