.body {
    padding: 2% 10%;
}

.container {
    background-color: white; 
    padding: 0px 10px;
}

form {
    padding: 40px;
}

h1 {
    text-align: center;
    border: 2px solid blue;
}

form div {
    padding: 10px 0px;
}

form {
    font-weight: bold;
    text-align: center;
}

.input-group-prepend {
    padding: 0px;
}
