.body {
    padding: 2% 10%;
}

.container {
    background-color: white;
}

form {
    padding: 20px;
}

h1 {
    text-align: center;
    border: 2px solid blue;
}

.form-row {
    margin: 0px;
}

.form-group {
    margin-top: 20px;
    padding: 5px;
}

label {
    font-weight: bold;
    text-align: center;
}

.custom-file-label {
    text-align: start;
}

.cantidad {
    margin-top: 20px;
    text-align: center;
    margin: 5px;
}

.input-group label {
    margin-top: 20px;
}
