.body {
    padding: 2% 10%;
}

.container {
    background-color: white; 
    
}

form {
    padding: 20px;
}

h1 {
    text-align: center;
    border: 2px solid blue;
}

.form-group {
    margin-top: 20px;
}

label {
    font-weight: bold;
    text-align: center;
}