.body {
    padding: 2% 10%;
}

.project {
    background-color: white; 
    padding: 0px 10px;
}

h1 {
    font-weight: bold;
    padding-bottom: 10px;
    margin: 0px;
    text-align: center;
}

h4 {
    text-decoration: underline;
    margin: 0px;
    text-align: center;
}

h5 {
    padding: 10px 0px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    text-align: center;
}

p {
    font-weight: bold;
    padding-bottom: 10px;
    margin: 0px;
    text-align: center;
}

.donacion {
    text-align: center;
}

.buttons {
    padding: 10px 0px;
    justify-content: space-around;
}

.buttons a {
    text-decoration: none;
}

.edit {
    color: rgb(56, 56, 56);
    border: 2px solid rgb(56, 56, 56); 
    background-color: white;
}

.space{
    border: 10px solid white;
}

.contribute {
    color: blue;
    border: 2px solid blue;
    background-color: white;
}