* {
  padding: 0px;
  box-sizing: border-box;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.body{
  background-color: #e0e0e0;
}

li {
  list-style: none;
}

/*Header*/
header {
  background-color: rgb(74, 133, 209);
  color: white
}

.logo {
  text-align: center;
}

.search input{
  border: none;
  margin: 0px;
}

.input-group-append button {
  background-color: white;
  border: none;
}

.collapse ul {
  align-content: flex-end;
}

.collapse ul li {
  border: 0px;
}

.collapse ul li a {
  color: white;
  text-align: end;
}

/*projects*/
.project-box {
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  transition: 300ms;
  margin: 20px 0;
  
}

.project-data {
  padding: 15px;
}

.imagen-project {
  width: 100%;
}

.project-data h1 {
  text-align: center;
}

.project-box h5 {
  text-align: center;
}

.project-box p {
  text-align: center;
}

/*Footer*/
.footer-container {
  background-color: rgb(74, 133, 209);
}

footer {
  border-bottom: 1px solid white;
  padding-top: 20px;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact li {
  text-align: center;
}

.contact li a {
  color: white;
}

.sub-footer {
  color: white;
  background-color: rgb(74, 133, 209);
}

.sub-footer p {
  text-align: center;
  padding: 5px;
  border: none;
  margin-block-end: 0px;
}