* {
  padding: 0px;
  box-sizing: border-box;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
  background-color: red;
}

.header {
  display: flex;
}

.search input{
  border: none;
  margin: 0px;
}

.btn {
  background-color: white;
  border: none;
  border-left-color: grey;
}