* {
  padding: 0px;
  box-sizing: border-box;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/*Header*/
header {
  background-color: rgb(74, 133, 209);
}

.header {
  display: flex;
}

.search input{
  border: none;
  margin: 0px;
}

.btn {
  background-color: white;
  border: none;
  border-left-color: grey;
}

.collapse ul li a {
  color: white;
}

/*Footer*/
footer {
  background-color: rgb(74, 133, 209);
}